 .u-section-1 {
  background-image: none;
  min-height: 1886px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1886px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 30px;
  background-image: linear-gradient(#7503ef, #2cccc4);
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 63px 80px 0;
}

.u-section-1 .u-shape-2 {
  width: 30px;
  background-image: linear-gradient(#7503ef, #2cccc4);
  left: 0;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 140px;
  height: 140px;
  margin: 50px auto 0 132px;
}

.u-section-1 .u-image-2 {
  width: 140px;
  height: 140px;
  margin: -140px auto 0 322px;
}

.u-section-1 .u-text-2 {
  margin: -88px 132px 0 513px;
}

.u-section-1 .u-image-3 {
  width: 140px;
  height: 140px;
  margin: 102px auto 0 132px;
}

.u-section-1 .u-image-4 {
  width: 140px;
  height: 140px;
  margin: -140px auto 0 322px;
}

.u-section-1 .u-text-3 {
  margin: -88px 132px 0 513px;
}

.u-section-1 .u-image-5 {
  width: 140px;
  height: 140px;
  margin: 102px auto 0 132px;
}

.u-section-1 .u-text-4 {
  margin: -88px 132px 0 513px;
}

.u-section-1 .u-image-6 {
  width: 140px;
  height: 140px;
  margin: 102px auto 0 132px;
}

.u-section-1 .u-text-5 {
  margin: -88px 132px 0 513px;
}

.u-section-1 .u-image-7 {
  object-position: 55.19% 0%;
  width: 140px;
  height: 91px;
  margin: -64px auto 0 322px;
}

.u-section-1 .u-image-8 {
  width: 140px;
  height: 140px;
  margin: 75px auto 0 132px;
}

.u-section-1 .u-image-9 {
  width: 173px;
  height: 41px;
  margin: -91px auto 0 306px;
}

.u-section-1 .u-text-6 {
  margin: -39px 132px 0 513px;
}

.u-section-1 .u-image-10 {
  width: 140px;
  height: 140px;
  margin: 102px auto 0 132px;
}

.u-section-1 .u-image-11 {
  width: 140px;
  height: 140px;
  margin: 50px auto 0 132px;
}

.u-section-1 .u-image-12 {
  width: 140px;
  height: 140px;
  margin: 50px auto 0 129px;
}

.u-section-1 .u-image-13 {
  object-position: 55.19% 0%;
  width: 140px;
  height: 91px;
  margin: -1065px auto 0 323px;
}

.u-section-1 .u-image-14 {
  width: 141px;
  height: 82px;
  margin: 484px auto 0 321px;
}

.u-section-1 .u-text-7 {
  margin: 320px 132px 0 513px;
}

.u-section-1 .u-text-8 {
  margin: -226px 132px 0 513px;
}

.u-section-1 .u-text-9 {
  margin: -225px 132px 0 513px;
}

.u-section-1 .u-image-15 {
  width: 141px;
  height: 82px;
  object-position: 50% 54%;
  margin: 320px auto 0 321px;
}

.u-section-1 .u-image-16 {
  width: 141px;
  height: 47px;
  margin: -255px auto 0 322px;
}

.u-section-1 .u-image-17 {
  width: 140px;
  height: 140px;
  margin: 287px auto 0 129px;
}

.u-section-1 .u-image-18 {
  width: 140px;
  height: 140px;
  margin: -140px auto 0 323px;
}

.u-section-1 .u-text-10 {
  margin: -88px 132px 0 513px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 32px;
    margin-left: 413px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 32px;
    margin-left: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -12024px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -12144px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-left: 200px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 167px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-13 {
    margin-left: 200px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-image-15 {
    margin-left: 199px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 199px;
  }

  .u-section-1 .u-image-18 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }
}