.u-section-1 {
  background-image: none;
  min-height: 1040px;
}

.u-section-1 .u-group-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 1038px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 30px;
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-1 .u-shape-2 {
  width: 30px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 34px 80px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  width: 417px;
  margin: 82px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -97px 106px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 181px;
  margin: -134px auto 0 77px;
}

.u-section-1 .u-text-3 {
  margin: -40px auto 0;
}

.u-section-1 .u-image-2 {
  width: 329px;
  height: 181px;
  margin: 52px auto 0 77px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  width: 417px;
  margin: -134px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 7px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -120px 106px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 329px;
  height: 181px;
  margin: 76px auto 0 77px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  width: 417px;
  margin: -134px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 7px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -120px 106px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 329px;
  height: 181px;
  margin: 76px auto 0 77px;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  width: 417px;
  margin: -134px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 7px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -120px 106px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 822px;
  }

  .u-section-1 .u-group-1 {
    min-height: 13107px;
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    left: auto;
    right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 25px;
    height: 820px;
    margin-top: 0;
    margin-bottom: 0;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11516px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 97px;
    margin-left: 474px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 474px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -22px;
    margin-right: 398px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -168px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 208px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 77px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 12389px;
  }

  .u-section-1 .u-shape-2 {
    width: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -11596px;
    margin-left: 363px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 363px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 363px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -40px;
    margin-right: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 272px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 272px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 12369px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -12036px;
    margin-left: 171px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 171px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 171px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 171px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 0;
    margin-left: 171px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: 171px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -81px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 193px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: -251px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 104px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 11px;
  }
}